body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.img-fluid{
    max-height: 80vh;
    min-height: 300px;
}
#image{
    background-repeat: repeat-x;    
    margin-left: 20px;
    margin-top: 13px;
}

#image .but1{    
   
    line-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    display:inline-block;
    position:relative;
}

#image .but1 button {
    position:absolute;
    bottom: 5px;
    right: 5px;
}
button:active{
    border-color: transparent;
}

#reload{
    background-color:#fff5;
    border: 0;
}

img{
    filter : drop-shadow(2px 2px 3px black);
}

.loading{
    filter: brightness(0.75 ) blur(1px);
}

.disabled{
    pointer-events: none;
}

