body{
	position:relative;
	font-family: Geneva, sans-serif;
	background-color:#111;
}
a{
	color:#EEE;
}
a:hover,
a:active,
a:focus{
	color:#E56;
	
}

.navbar-custom{
	font-weight: bold;
	font-size: 18px;
	}
#headerwrap{
	background:url(../img/header.jpg) no-repeat center top;
	color: white;
	margin-top:0px;
	padding-top:250px;
	text-align:center;
	background-attachment:relative;
	background-position:center center;
	min-height:660px;
	width:100%;
}
#about{
	color: white;
	text-align: center;
	min-height: 660  px;
	padding-top: 20px;
	padding-bottom:20px;
}
#about-head{
	font-size: 40px;
	text-align: center;

}
#about-name{
	font-size: 30px;
	margin-top: 30px;
	text-align: left;
}
#header-social{
	color:white;
	padding-top:70px;padding-bottom:50px;
	font-size:40px;
}
.about-button{
	background-color: white;
	color: black;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	border-width: 2px;
	border-radius: 2px;
}
.about-me-paragraph{
	font-size: 20px;
	font-weight: lighter;
	text-align: left;
	margin-top: 40px;
}
#projects{
	background-color:#444;	
	color: white;
	min-height: 660  px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.project-head{
	font-size: 40px;
	text-align: center;
	padding-top:15px;
	padding-bottom:20px;
}
.footer-social{
	padding-top:25px;
	padding-bottom:25px;
	background-color:#222;
	font-size:40px;
	color:white;
}
.footer-text{
	background-color:#000;	
	padding-top:35px;
	padding-bottom:25px;
	font-size:18px;
	color:white;
}